<header
  class="text-white flex items-center justify-between w-full top-0 fixed h-16 z-50 transition-all duration-300"
  [ngClass]="theme()?.header"
>
  <h1 class="text-xl font-bold">LocalGuest</h1>
  <div class="flex items-center gap-4">
    

    <!-- Theme picker -->
    <div class="relative group hidden md:block">
      <button class="px-3 py-1 rounded bg-white text-black hover:bg-gray-200 transition">
        🎨 Theme
      </button>
      <div
        class="absolute right-0 mt-2 bg-white shadow rounded p-3 flex gap-3 opacity-0 group-hover:opacity-100 transition"
      >
        @for (t of themes(); track t.name) {
          <div
            class="w-8 h-8 rounded-full cursor-pointer border-2"
            [ngClass]="t.body"
            (click)="themeChange.emit(t)"
          ></div>
        }
      </div>
    </div>

    <!-- Bouton Connexion -->
    <div class="hidden md:block  text-gray-900 font-semibold 
    px-4 py-2 rounded transition cursor-pointer">
      <language-switch />
    </div>
  </div>
</header>
